.container
    .logo
        img(src="/assets/images/logo-inverse.svg")

    nav
        h1 Angular Finland

        .menu
            a(
                [routerLink]="['/']",
                routerLinkActive="active",
                [routerLinkActiveOptions]="{exact: true}"
            ) Frontpage
            a(
                [routerLink]="['/organizers']",
                routerLinkActive="active",
                [routerLinkActiveOptions]="{exact: true}"
            ) Organizers
            a(
                [routerLink]="['/contact']",
                routerLinkActive="active",
                [routerLinkActiveOptions]="{exact: true}"
            ) Contact
