.loading(*ngIf="!tweets")
masonry(*ngIf="tweets && tweets.length > 0" useImagesLoaded="true")
  masonry-brick(class="brick", *ngFor="let tweet of tweets | orderBy:'created':true")
    tweet([tweet]="tweet")