a {
    color: #CC0000;
}
.call-title {
    font-size: large;
}
.list-group-item:first-child {
    background-color: #CC0000;
    border: #CC0000;
}
.img-thumbnail {
    width: 100%;
    height: auto;
    display: block;
}