<div class="row">
    <div class="col-md-12"><h3>Program</h3></div>
</div>

<div class="row">
  <div class="col-md-7">
    <h4 class="text-muted mt-4">Wednesday 13th March 2019</h4>
    <div class="list-group">
      <div class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Workshops</h5>
          <small>13th March</small>
        </div>
        <p class="mb-1">Upgrade your Angular skills</p>
        <small>Learn with expert Angular trainers</small>
      </div>
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Getting started with Angular</h5>
          <small class="text-muted">Full day</small>
        </div>
        <p class="mb-1">An introduction to Angular, starting with the basics</p>
        <p><a [routerLink]="['/events/conferences/2019/workshops']" routerLinkActive="router-link-active">Course content and registration</a></p>
      </div>
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">From web to mobile with Angular and NativeScript</h5>
          <small class="text-muted">Full day</small>
        </div>
        <p class="mb-1">In this hands-on practical workshop, we'll start with an introduction to NativeScript, build a NativeScript app and take an existing Angular web application to mobile.
            </p>
            <p><a [routerLink]="['/events/conferences/2019/workshops']" routerLinkActive="router-link-active">Course content and registration</a></p>
          </div>
      <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Upgrading AngularJS applications with ngUpgrade</h5>
            <small class="text-muted">Full day</small>
          </div>
          <p class="mb-1">An in-depth walkthrough of the ngUpgrade path to Angular from AngularJS.
              </p>
              <p><a [routerLink]="['/events/conferences/2019/workshops']" routerLinkActive="router-link-active">Course content and registration</a></p>
            </div>
    </div>
    <h4 class="text-muted mt-4">Thursday 14th March 2019</h4>
    <div class="list-group mt-3">
        <div class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Talks</h5>
            <small>14th March, evening</small>
          </div>
          <p class="mb-1">Learn something new and get inspired</p>
          <small>See the big picture with leading Angular experts</small>
        </div>

        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">When C-3PO met HAL: A Chatbot Odyssey</h5>
            <small class="text-muted">Stanimira Vlaeva</small>
          </div>
          <p class="mb-1">What would happen if we make two chatbots talk to each other? Let's find out! Artificial intelligence can be scary, but don't worry - we are not alone!
          </p>
          <p><a [routerLink]="['/events/conferences/2019/speakers']" routerLinkActive="router-link-active">More about Stanimira and the AI chatbot</a></p>
        </div>

        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">More talks at the biggest gathering of the Angular community in Finland</h5>
            <small class="text-muted">Top speakers</small>
          </div>
          <p class="mb-1">A selection of Angular topics from the creators, leaders and influencers in the Angular community</p>
          <small class="text-muted">Check back for more annoucements soon</small>
        </div>
  

    </div>
      <!-- <div class="m-3 mw-75">
          <p><a href="https://www.meetup.com/Angular-Finland/events/257192850" title="Registration is on the Angular Finland Meetup page" class="mb-3">
            <button type="button" style="background-color: #CC0000" class="btn btn-lg btn-block"><span class="text-white">Register for the evening event</span></button>
          </a></p>
      </div> -->

      <h4 class="text-muted mt-4">Friday 15th March 2019</h4>
      <div class="list-group mt-3">
        <div class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">More workshops</h5>
            <small>15th March</small>
          </div>
          <p class="mb-1">Deepen your Angular skills</p>
          <small>Get advanced Angular skills in a masterclass</small>
        </div>

        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Advanced Angular</h5>
            <small class="text-muted">Laurent Duveau, Angular Academy</small>
          </div>
          <p class="mb-1">Supercharge your Angular skills! Following successful trainings in Finland at ngVikings conference in 2018, Angular Academy is back with another great Advanced Angular course.
          </p>
          <p><a [routerLink]="['/events/conferences/2019/workshops']" routerLinkActive="router-link-active">Course content and registration</a></p>
        </div>  
      </div>
  </div>
  <div class="col-md-5">
      
      <h5>Propose a talk</h5>
    <p>Our call for papers is still open for a short time only. We invite proposals from teams, writers, speakers and developers working on these themes</p>
<p>We are also accepting <a [routerLink]="['/workshops']" title="Workshops for the Angular Finland Big Hangout event 2019">workshop proposals</a> with a full-day or half-day training format</p>
<div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="mb-3">
        <img style="width:30px;" class="pull-left" src="\assets\favicon\icon-72x72.png">
        &nbsp;
        <span class="call-title">The next wave of digital technology</span>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">Identifying the trends and emerging technologies which will change the way we develop digital solutions</h6>
      <p class="card-text">Web components, AI, PWAs, native browser APIs, IOT, machine learning: how Angular help us capture the opportunities in a fast-changing tech scene?</p>
      <a [routerLink]="['/contact']" class="card-link">Send your proposal</a>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="mb-3">
        <img style="width:30px;" class="pull-left" src="\assets\favicon\icon-72x72.png">
        &nbsp;
        <span class="call-title">Essentials skills for Angular developers in 2020</span>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">Better coding experience, better results</h6>
      <p class="card-text">Functional programming, reactive forms, test driven development, containerization, GraphQL</p>
      <a [routerLink]="['/contact']" class="card-link">Send your proposal</a>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="mb-3">
        <img style="width:30px;" class="pull-left" src="\assets\favicon\icon-72x72.png">
        &nbsp;
        <span class="call-title">Accessibility and internationalization</span>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">Making the web work for people of all abilities, languages and regions</h6>
      <p class="card-text">Share your projects, libraries, techniques, experiences, resources and perspectives on making digital life socially and globally inclusive.</p>
      <a [routerLink]="['/contact']" class="card-link">Send your proposal</a>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="mb-3">
        <img style="width:30px;" class="pull-left" src="\assets\favicon\icon-72x72.png">
        &nbsp;
        <span class="call-title">Angular in the real world</span>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">Overcoming challenges and high-impact projects with Angular</h6>
      <p class="card-text">Case studies and stories from major enterprises and startup projects where a team has achieved great things with Angular</p>
      <a [routerLink]="['/contact']" class="card-link">Send your proposal</a>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="mb-3">
        <img style="width:30px;" class="pull-left" src="\assets\favicon\icon-72x72.png">
        &nbsp;
        <span class="call-title">New from Angular</span>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">New and beta solutions in the Angular ecosystem</h6>
      <p class="card-text">Share what's coming next in Ivy, NativeScript, the Angular Console, Bazel, Universal, the libraries you are working with, working on, waiting for.</p>
      <a [routerLink]="['/contact']" class="card-link">Send your proposal</a>
    </div>
  </div>
</div>
  </div>
</div>


