<h3 class="mt-3">Call for papers</h3>
<p>We invite proposals from teams, writers, speakers and developers working on these conference themes</p>
<p>We are also accepting <a [routerLink]="['/workshops']" title="Workshops for the Angular Finland conference 2019">workshop proposals</a> with a full-day or half-day training format</p>
<div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="mb-3">
        <img style="width:30px;" class="pull-left" src="\assets\favicon\icon-72x72.png">
        &nbsp;
        <span class="call-title">The next wave of digital technology</span>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">Identifying the trends and emerging technologies which will change the way we develop digital solutions</h6>
      <p class="card-text">Web components, AI, PWAs, native browser APIs, IOT, machine learning: how Angular help us capture the opportunities in a fast-changing tech scene?</p>
      <a [routerLink]="['/contact']" class="card-link">Send your proposal</a>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="mb-3">
        <img style="width:30px;" class="pull-left" src="\assets\favicon\icon-72x72.png">
        &nbsp;
        <span class="call-title">Essentials skills for Angular developers in 2020</span>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">Better coding experience, better results</h6>
      <p class="card-text">Functional programming, reactive forms, test driven development, containerization, GraphQL</p>
      <a [routerLink]="['/contact']" class="card-link">Send your proposal</a>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="mb-3">
        <img style="width:30px;" class="pull-left" src="\assets\favicon\icon-72x72.png">
        &nbsp;
        <span class="call-title">Accessibility and internationalization</span>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">Making the web work for people of all abilities, languages and regions</h6>
      <p class="card-text">Share your projects, libraries, techniques, experiences, resources and perspectives on making digital life socially and globally inclusive.</p>
      <a [routerLink]="['/contact']" class="card-link">Send your proposal</a>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="mb-3">
        <img style="width:30px;" class="pull-left" src="\assets\favicon\icon-72x72.png">
        &nbsp;
        <span class="call-title">Angular in the real world</span>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">Overcoming challenges and high-impact projects with Angular</h6>
      <p class="card-text">Case studies and stories from major enterprises and startup projects where a team has achieved great things with Angular</p>
      <a [routerLink]="['/contact']" class="card-link">Send your proposal</a>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="mb-3">
        <img style="width:30px;" class="pull-left" src="\assets\favicon\icon-72x72.png">
        &nbsp;
        <span class="call-title">New from Angular</span>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">New and beta solutions in the Angular ecosystem</h6>
      <p class="card-text">Share what's coming next in Ivy, NativeScript, the Angular Console, Bazel, Universal, the libraries you are working with, working on, waiting for.</p>
      <a [routerLink]="['/contact']" class="card-link">Send your proposal</a>
    </div>
  </div>
</div>


