<main>
  <h2>Events</h2>
  <div class="w-100">
    <a href="https://www.meetup.com/Angular-Finland" title="Angular Finland meetups">
      <div class="card card-inverse text-center event-promo-image">
        <img class="img-fluid card-img-top" src="/assets/images/events/angular-finland-meetup-2016-img-003-16x9.jpg" alt="Angular Finland meetup meeting room and speaker"/>
        <div class="card-img-overlay">
          <h3 class="card-title text-white photo-caption-overlay">Angular Finland meetups</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="row">
    <div class="col-md-6 p-3">
      <a href="https://ngvikings.org/" title="NG-Vikings Conference">
        <div class="card card-inverse text-center event-promo-image">
            <img class="img-fluid card-img-top" src="/assets/images/events/ng-vikings-in-denmark-2017-img003-16x9.jpg" alt="ng-vikings conference in Denmark crowd posing"/>
            <div class="card-img-overlay">
              <h3 class="card-title text-white photo-caption-overlay-heavy">ngVikings Conference 2019</h3>
              <p class="card-text text-white photo-caption-overlay align-bottom">Copenhagen, Denmark, 27-28 May 2019</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 p-3">
      <a [routerLink]="['conferences/2019']" routerLinkActive="router-link-active"  title="NG-Finland Big Hangout">
        <div class="card card-inverse text-center event-promo-image">
          <img class="img-fluid card-img-top" src="/assets/images/events/ng-vikings-in-finland-2018-img001-6x3.jpg" alt="ng-vikings conference in Finland 2018 audience enjoying"/>
          <div class="card-img-overlay">
            <h3 class="card-title text-white photo-caption-overlay">Big Hangout 2019</h3>
            <p class="card-text text-white photo-caption-overlay align-bottom">Espoo, Finland, 14 March 2019</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div>
    <h3>
      More Angular events...
    </h3>
    <p>Check this list of worldwide <a href="https://angularconferences.com/" title="Angular conferences and meetups">Angular conferences and meetups</a></p>
    <a href="https://angularconferences.com/" title="Angular conferences and meetups"><img src="/assets/images/angular-conferences-logo-array.gif" alt="Several angular organisation and event logos" class="w-100"></a>
    <hr class="hr-primary mt-2">
    <h3>Angular Finland meetups</h3>
    <meetups-list></meetups-list>
  </div>
  <router-outlet></router-outlet>
</main>