.photo-caption-overlay-heavy {
    text-shadow: -1px 0 #5a5a5a, 0 1px #5a5a5a, 1px 0 #5a5a5a, 0 -1px #5a5a5a, 0 0 4px #000000;
}
.photo-caption-overlay {
    text-shadow: 3px 3px 6px #000000;
}
.event-promo-image {
    max-width: 100%;

}