<div class="container">
  <div class="logo"><img src="/assets/images/logo-inverse.svg"/></div>
  <nav>
    <h1>Angular Finland</h1>
    <div class="menu">
      <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Frontpage</a>
      <a [routerLink]="['/organizers']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Organizers</a>
      <a [routerLink]="['/contact']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact</a>
      <a [routerLink]="['/events']" routerLinkActive="active">Events</a>
    </div>
  </nav>
</div>
