<main>
  <h2>Contact</h2>
  <p>You can email&nbsp;<a href="mailto:richard@angular.fi">Richard Farkas</a> or call/SMS during office hours &nbsp;<a href="tel:+358405552686">+358405552686</a>.</p>

  <p>We're also on</p>
    <ul>
      <li>
        <a href="https://angularfi.slack.com">Slack</a>
      </li>
      <li>
        <a href="https://www.facebook.com/angularfi/">Facebook</a>
      </li>
      <li>
        <a href="https://twitter.com/angularFI">Twitter</a>
      </li>
      <li>
        <a href="https://github.com/angularFI">Github</a>
      </li>
      <li>
        <a href="https://www.meetup.com/Angular-Finland/">meetup.com</a>
      </li>            
    </ul>

    <!--           <h3>Slack</h3>
          <p>You can also join our Slack (currently Slack joining backend is offline):</p>
          <slack-join></slack-join>
          <h3>Upcoming meetups:</h3>
          <meetups-list></meetups-list>
          <h3>Twitter feed:</h3>
          <div class="tweet-button"><a href="https://twitter.com/intent/tweet?text=%23AngularFI%20">
          <div class="bird"></div>
          <div class="label">Tweet</div></a></div>
          <tweets-list></tweets-list>
 -->
</main>