main
    h2 Contact

    p You can send E-mail to 
        strong Jussi Kinnula
        |  for any inquiries (use jussi dot kinnula at gmail dot com), or call/SMS during office hours to 
        a(href="tel:+358405546256") +358405546256
        | .
    
    p You can reach the organizers also from 
        a(href="https://koodiklinikka.fi/") Koodiklinikka
        |  Slack community