main
  h2 Contact

  p You can send E-mail to&nbsp;
    strong Jussi Kinnula
    |  for any inquiries (use jussi dot kinnula at gmail dot com), or call/SMS during office hours to&nbsp;
    a(href="tel:+358405546256") +358405546256
    | .
