<h3 class="mt-3">The best of Angular</h3>
<div class="mb-3">
    <img src="/assets/images/events/conferences/2019/ng-vikings-in-finland-2018-img007-speaker-srushtika-neelakantam-mozilla-widescreen.jpg" alt="Srushtika Neelakantam speaking at the ng-Vikings conference in Finland in 2018" class="img-fluid">
</div>
<p>We'll announce here a team of top Angular developers, writers, speakers and innovators</p>
<p>Are we talking about you? Contact the <a [routerLink]="['/organizers']" title="Contact Angular Finland">event organizing team</a>.</p>