<h4 class="mt-3" id="Sani">The best of Angular</h4>
<h3>Sani Yusuf</h3>
<img class="img-fluid img-thumbnail float-left mr-3" src="/assets/images/events/conferences/2019/sani-yusuf-01.jpg" alt="Sani Yusuf">
<p>Sani is a Google Developer Expert for Angular and web technologies and a organiser in the Ionic community in the UK. A startup founder and a consultant to large organisations, Sani is a passionate advocate for applying software development patterns to real-world problems. A regular conference speaker and trainer, Sani specialises in enhancing the skills of web developers for Angular, Javascript and mobile applications.
</p>
<h4>
        <small class="text-muted">Big Hangout 2019 talk:</small><br>
        Let's Get Your Angular App To React</h4>
<p>You use it every day. It is there in your home, in your workplace, in your school, inside your car, at the train station, everywhere. When you wake up, you use it. When there is an emergency, you rely solely on it.</p><p>No, it's not your mobile phone. It was made by a skilled developer and you barely notice it when it works, but when it doesn't you really never forget.</p><p>How can something so widespread and important, be yet so often overlooked in development projects?</p><p>Join Sani as we discover the most underrated yet most powerful feature in our devices and learn how developers can use it to bring smiles to the faces of users.</p>

<hr class="m-3" id="Stanimira">
<h3>Stanimira Vlaeva</h3>
<img class="img-fluid img-thumbnail float-left mr-3" src="/assets/images/events/conferences/2019/stanimira-vlaeva-square.jpg" alt="Stanimira Vlaeva, speaking at a podium">
<p>Stanimira is a software engineer at Progress and a core team member for NativeScript, focused on the integration with Angular and performance optimizations.
    Her current work includes providing an official way for sharing code between web and mobile Angular with NativeScript and schematics, building a custom webpack build pipeline, and optimizing app launch performance. She loves spreading the word about NativeScript. Some of the recent events she's given a talk at are ngAtlanta, ngChina, AngularConnect, NativeScript Developer Days and DevReach.
</p>
<h4>
        <small class="text-muted">Big Hangout 2019 talk:</small><br>
        Frictionless breaking changes migration with `ng update` and Schematics</h4>
        <p>The JavaScript world is always moving forward, driven by change. Angular has had 4 major and 13 minor releases since the release of 2.0 in September 2016.</p>
        <p>
        We all love new features, better performance, and smaller bundle sizes. However, nobody loves breaking changes. Updating to newer versions can take time.
        </p><p>
        But, in this very moment, everyone's favorite Angular CLI walks on the stage! We can use the `ng update` command to automatically apply the required changes.</p><p>In this session, we will answer the questions:</p>
        <ul>
            <li>How does <em>ng update</em> work under the hood?</li>
            <li>What are these schematics things everyone is talking about?</li>
            <li>How to write schematics for automated updates in your Angular libraries?</li>
        </ul>
<!--     When C-3PO met HAL: A Chatbot Odyssey</h4>
<p>What would happen if we make two chatbots talk to each other? Let's find out!</p>
<p>Grab your spacesuits and get in the ship, because we are going on adventure in the deep (learning) space!</p>
    
<p>Artificial intelligence can be scary, but don't worry - we are not on our own! Meet the crew:</p>
<ul>
    <li class="list-item">Science officer <strong>Dialogflow</strong> - the machine learning expert;</li>
    <li class="list-item">Records officer <strong>Firebase</strong> who has all the knowledge about that mission;</li>
    <li class="list-item">Lieutenant <strong>NativeScript</strong> - the native mobile expert, who can make our bots speak up;</li>
    <li class="list-item">and, finally - Captain <strong>Angular</strong>, bringing all pieces together;</li>
</ul>
<p>3... 2... 1... Liftoff!
    </p> -->

<hr class="m-3" id="Nadia">


<h3>Nadia Törnroos</h3>
<img class="img-fluid img-thumbnail float-left mr-3" src="/assets/images/events/conferences/2019/nadezhda-tornroos-square.jpg" alt="Nadia Törnroos">
<p>Nadia is a Senior Software Developer at Tieto and one of the core team members for micro-services based platform CX Cloud. Nadia is a full-stack developer who has been involved in various projects for larger and smaller scale businesses using JavaScript and various JavaScript frameworks including Angular and React. As an accessibility and inclusive design enthusiast, passionate about technologies, Nadia believes that we can make the world a better place by providing for people with diverse abilities the same experience as for everyone.
</p>
<h4>
        <small class="text-muted">Big Hangout 2019 talk:</small><br>
        Digital accessibility as a Mindset</h4>
<p>Technology has impacted every aspect of our lives today. It is very important to provide the same experience for everyone - including people with disabilities.
</p><p>
    However, accessibility is about making digital experiences inclusive of more people including ourselves, our parents, people who are not native in a particular language and more. For example, captioning, voice recognition and responsiveness assist people with disabilities, but we are all using them.
</p><p>
    And there is a strong business case for accessibility. Companies which keep accessibility in mind are more likely to be more innovative, profitable, have more positive branding experience and cut legal risks.
</p><p>
    Most of the basics of accessibility are fairly easy to implement with some HTML knowledge and by following accessibility guidelines. Angular and most popular JavaScript frameworks to have accessibility embedded in the core or provide specific linters and plugins to help developers achieve inclusivity and business benefits quickly.
    </p>

    
<hr class="m-3" id="Sam">


<h3>Sam Julien</h3>
<img class="img-fluid img-thumbnail float-left mr-3" src="/assets/images/events/conferences/2019/sam-julien-square.jpg" alt="Sam Julien">
<p>Sam Julien is a Google Developer Expert for Angular, teacher, and full-stack developer. He’s also a Content Engineer for Auth0, the founder of the comprehensive video course UpgradingAngularJS.com, and the co-organiser of Angular Portland. When he’s not coding, you’ll find Sam outside hiking and camping like a good Oregonian.
</p>
<h4>
        <small class="text-muted">Big Hangout 2019 talk:</small><br>
        Finding the Right Path from AngularJS to Angular</h4>
<p>Around half the Angular code in the world is AngularJS. Many of us have been asked - or will be asked - to upgrade an application to modern Angular. Knowing the steps is part of the story: upgrading components, services, handling third-party dependencies and other AngularJS entities.</p><p>Now there is an increasing number of valid paths to upgrade. Choosing the right one has real implications for the time and resources you need for your upgrade, and for the developer experience.</p><p>In his talk, Sam Julien will walk you through some key decision points and confidently past the point of no return.</p>

<hr class="m-3" id="Michael">
<h3>Michael Hladky</h3>
<img class="img-fluid img-thumbnail float-left mr-3" src="/assets/images/events/conferences/2019/michael-hladky-square.jpg" alt="Michael Hladky">
<p>Angular by heart and code. Michael is a full-stack developer located in Vienna, Austria.</p><p>He is a Google Developer Expert and an active part of the community. As founder of the Angular-Austria association, organizer of Angular-Vienna and NestJS-Vienna Meetup he grows the Austrian community.</p><p>He is a developer, trainer and consultant with the focus on Angular as well as ionic and related technologies. He gives workshops on Angular, RxJs and Typescript.</p><p>Michael regularly speaks at conferences and meetups and enjoys participating in the dev community and OSS.</p>
<h4>
        <small class="text-muted">Big Hangout 2019 talk:</small><br>
        Manage heavily dynamic user interfaces with RxJS</h4>
<p>The web has changed a lot in recent years. More and more applications provide user interfaces that are heavily interactive and often also include some background tasks.</p><p>RxJS gives us a very elegant way to compose events and async actions, making your code more robust and extensible.</p><p>
    Let's explore advanced techniques with RxJS!</p>
    <p>
    We will learn how to:</p>
    <ul>
        <li>
            implement the basics of CQRS
        </li>
        <li>
            orchestrate rendering and UI interaction
        </li>
        <li>
            dynamically compose event patterns
        </li>
        <li>
            optimize performance
        </li>
    </ul>


    <hr class="m-3" id="Akseli">
    <h3>Akseli Virtanen</h3>
    <img class="img-fluid img-thumbnail float-left mr-3" src="/assets/images/events/conferences/2019/akseli_virtanen-w400.jpg" alt="Akseli Virtanen">
    <p>Akseli is a Senior Developer at Frantic. Currently he works together with design and business
            people to create awesome services with technologies such as JavaScript, Angular and Web
            Components. Excited to bring down the barriers between technology and the rest of the world,
            Akseli also does various speaking engagements and workshops.
    </p>
    <h4>
            <small class="text-muted">Big Hangout 2019 talk:</small><br>
            Thinking in Web Components</h4>
            <p>Web Components have finally arrived and in Angular Elements we have the perfect toolkit to
                    leverage them. But why should you care?</p><p>
                    In this talk, Akseli will convince you that Web Components are more than “just another nice
                    technology”.</p><p>
                    Let’s find out through examples, how you can get surprising benefits from using Angular
                    elements with both existing and new applications.</p><p>
                    Finally we’ll muse about the future of Web Components and how they might change how we
                    create applications.</p>
            




    <hr class="m-3" id="Salar">
    <h3>Salar Kaboli</h3>
    <img class="img-fluid img-thumbnail float-left mr-3" src="/assets/images/events/conferences/2019/salar-kaboli-square-400.jpg" alt="Salar Kaboli">
    <p>Salar Kaboli is a Principal Software Engineer at Tieto Customer Experience Management. He has been developing web applications for over 15 years using a variety of technologies and he's currently interested in Cloud, NodeJS, Rust and WebAssembly. Salar's passions include making software and knowledge freely accessible and making the web more secure and private. He is the co-maker of <a href="https://buttercup.pw/" target="_blank" title="Buttercup password manager homepage"></a>Buttercup, a free and open-source multi-platform password manager and security vault.</p>
    <h4>
            <small class="text-muted">Big Hangout 2019 talk:</small><br>
            Optimising heavy applications for performance using Angular and WebAssembly</h4>
    <p>Let's build an application called "Game of Life" using the best parts of Angular and WebAssembly. <em>Game of Life</em> has heavy calculations that can be too much for JavaScript to tackle alone.</p><p>We'll solve a common challenge in real-world scenarios: building great performance into heavy applications. We'll be using Rust to calculate the worlds and integrate that right into an Angular service.</p>    

<hr class="m-3">


<!-- <p> More speaker annoucements coming soon</p> -->
<!-- PRE-ANNOUNCEMENT CONTENT <div class="mb-3">
    <img src="/assets/images/events/conferences/2019/ng-vikings-in-finland-2018-img007-speaker-srushtika-neelakantam-mozilla-widescreen.jpg" alt="Srushtika Neelakantam speaking at the ng-Vikings conference in Finland in 2018" class="img-fluid">
</div>
<p>We'll announce here a team of top Angular developers, writers, speakers and innovators</p>
<p>Are we talking about you? Contact the <a [routerLink]="['/organizers']" title="Contact Angular Finland">event organizing team</a>.</p> -->