<h4 class="mt-3" id="Sani">The best of Angular</h4>
<h3>Sani Yusuf</h3>
<img class="img-fluid img-thumbnail float-left mr-3" src="/assets/images/events/conferences/2019/sani-yusuf-01.jpg" alt="Sani Yusuf">
<p>Sani is a Google Developer Expert for Angular and web technologies and a organiser in the Ionic community in the UK. A startup founder and a consultant to large organisations, Sani is a passionate advocate for applying software development patterns to real-world problems. A regular conference speaker and trainer, Sani specialises in enhancing the skills of web developers for Angular, Javascript and mobile applications.
</p>
<h4>
        <small class="text-muted">Big Hangout 2019 talk:</small><br>
        Let's Get Your Angular App To React</h4>
<p>You use it every day. It is there in your home, in your workplace, in your school, inside your car, at the train station, everywhere. When you wake up, you use it. When there is an emergency, you rely solely on it.</p><p>No, it's not your mobile phone. It was made by a skilled developer and you barely notice it when it works, but when it doesn't you really never forget.</p><p>How can something so widespread and important, be yet so often overlooked in development projects?</p><p>Join Sani as we discover the most underrated yet most powerful feature in our devices and learn how developers can use it to bring smiles to the faces of users.</p>

<hr class="m-3" id="Stanimira">
<h3>Stanimira Vlaeva</h3>
<img class="img-fluid img-thumbnail float-left mr-3" src="/assets/images/events/conferences/2019/stanimira-vlaeva-square.jpg" alt="Stanimira Vlaeva, speaking at a podium">
<p>Stanimira is a software engineer at Progress and a core team member for NativeScript, focused on the integration with Angular and performance optimizations.
    Her current work includes providing an official way for sharing code between web and mobile Angular with NativeScript and schematics, building a custom webpack build pipeline, and optimizing app launch performance. She loves spreading the word about NativeScript. Some of the recent events she's given a talk at are ngAtlanta, ngChina, AngularConnect, NativeScript Developer Days and DevReach.
</p>
<h4>
        <small class="text-muted">Big Hangout 2019 talk:</small><br>
    When C-3PO met HAL: A Chatbot Odyssey</h4>
<p>What would happen if we make two chatbots talk to each other? Let's find out!</p>
<p>Grab your spacesuits and get in the ship, because we are going on adventure in the deep (learning) space!</p>
    
<p>Artificial intelligence can be scary, but don't worry - we are not on our own! Meet the crew:</p>
<ul>
    <li class="list-item">Science officer <strong>Dialogflow</strong> - the machine learning expert;</li>
    <li class="list-item">Records officer <strong>Firebase</strong> who has all the knowledge about that mission;</li>
    <li class="list-item">Lieutenant <strong>NativeScript</strong> - the native mobile expert, who can make our bots speak up;</li>
    <li class="list-item">and, finally - Captain <strong>Angular</strong>, bringing all pieces together;</li>
</ul>
<p>3... 2... 1... Liftoff!
    </p>

    
<hr class="m-3" id="Sam">


<h3>Sam Julien</h3>
<img class="img-fluid img-thumbnail float-left mr-3" src="/assets/images/events/conferences/2019/sam-julien-square.jpg" alt="Sam Julien">
<p>Sam Julien is a Google Developer Expert for Angular, teacher, and full-stack developer. He’s also a Content Engineer for Auth0, the founder of the comprehensive video course UpgradingAngularJS.com, and the co-organiser of Angular Portland. When he’s not coding, you’ll find Sam outside hiking and camping like a good Oregonian.
</p>
<h4>
        <small class="text-muted">Big Hangout 2019 talk:</small><br>
        Finding the Right Path from AngularJS to Angular</h4>
<p>Around half the Angular code in the world is AngularJS. Many of us have been asked - or will be asked - to upgrade an application to modern Angular. Knowing the steps is part of the story: upgrading components, services, handling third-party dependencies and other AngularJS entities.</p><p>Now there is an increasing number of valid paths to upgrade. Choosing the right one has real implications for the time and resources you need for your upgrade, and for the developer experience.</p><p>In his talk, Sam Julien will walk you through some key decision points and confidently past the point of no return.</p>

<hr class="m-3" id="Michael">
<h3>Michael Hladky</h3>
<img class="img-fluid img-thumbnail float-left mr-3" src="/assets/images/events/conferences/2019/michael-hladky-square.jpg" alt="Michael Hladky">
<p>Angular by heart and code. Michael is a full-stack developer located in Vienna, Austria.</p><p>He is a Google Developer Expert and an active part of the community. As founder of the Angular-Austria association, organizer of Angular-Vienna and NestJS-Vienna Meetup he grows the Austrian community.</p><p>He is a developer, trainer and consultant with the focus on Angular as well as ionic and related technologies. He gives workshops on Angular, RxJs and Typescript.</p><p>Michael regularly speaks at conferences and meetups and enjoys participating in the dev community and OSS.</p>
<h4>
        <small class="text-muted">Big Hangout 2019 talk:</small><br>
        Manage heavily dynamic user interfaces with RxJS</h4>
<p>The web has changed a lot in recent years. More and more applications provide user interfaces that are heavily interactive and often also include some background tasks.</p><p>RxJS gives us a very elegant way to compose events and async actions, making your code more robust and extensible.</p><p>
    Let's explore advanced techniques with RxJS!</p>
    <p>
    We will learn how to:</p>
    <ul>
        <li>
            implement the basics of CQRS
        </li>
        <li>
            orchestrate rendering and UI interaction
        </li>
        <li>
            dynamically compose event patterns
        </li>
        <li>
            optimize performance
        </li>
    </ul>

<hr class="m-3">


<p> More speaker annoucements coming soon</p>
<!-- PRE-ANNOUNCEMENT CONTENT <div class="mb-3">
    <img src="/assets/images/events/conferences/2019/ng-vikings-in-finland-2018-img007-speaker-srushtika-neelakantam-mozilla-widescreen.jpg" alt="Srushtika Neelakantam speaking at the ng-Vikings conference in Finland in 2018" class="img-fluid">
</div>
<p>We'll announce here a team of top Angular developers, writers, speakers and innovators</p>
<p>Are we talking about you? Contact the <a [routerLink]="['/organizers']" title="Contact Angular Finland">event organizing team</a>.</p> -->