@import './globals/*'

body
    font-family font-text
    margin 0
    padding 0
    background-color color-body-background
    
main
    color color-paragraph
    max-width max-width
    margin 0 auto
    padding 10px
    
h1, h2, h3
    font-family font-heading
    color color-heading
    
a, a:active, a:hover, a:visited
    color color-link
