<main>
  <h2>Organizers</h2>
  <!-- <div class="person py-2">
    <div class="image"><img src="/assets/images/mystery-female.svg" alt="Face of mystery female"/></div>
    <h3>You as an organizer?</h3>
    <ul>
      <li>Come to our&nbsp;<a href="http://www.meetup.com/Angular-Finland/">meetups</a> and be an organizer in future too!</li>
      <li>We are constantly looking people to be speakers and organizers.</li>
      <li>It doesn't matter if you haven't done anything like this before, you will learn with us! :-)</li>
    </ul>
  </div> -->
  <div class="person py-2">
    <div class="image"><img src="/assets/images/organizers/team-2019.jpg" alt="Team"/></div>
    <h3>The A team&nbsp;<a href="https://twitter.com/angularfi">@angularFI</a></h3>
    <p>If you've got a passion for building community and an interest in Angular, you could join the team.</p>
    <p><a [routerLink]="['/contact']">Get in touch!</a></p>
  </div>

  <div class="person py-2">
    <div class="image"><img src="/assets/images/organizers/richard-farkas.jpg" alt="Richard Farkas"/></div>
    <h3>Richard Farkas&nbsp;<a href="https://twitter.com/richardfarkas">@richardfarkas</a></h3>
    <ul>
      <li>From&nbsp;<strong>Helsinki</strong></li>
      <li>Works at&nbsp;<a href="https://www.argonautonline.com/">Argonaut</a></li>
      <li>In a deep but not long-term relationship with AngularJS. Break-up likely, since I have been seeing Angular 7 lately.</li>
      <li>Verteran meetup organiser. In it to learn, and to meet smart people.</li>
    </ul>
  </div>

  <div class="person py-2">
    <div class="image"><img src="/assets/images/organizers/liisa-duerig.jpg" alt="Picture of Liisa Duerig"/></div>
    <h3>Liisa Duerig</h3>
    <ul>
      <li>Super Hyper Drupal Girl</li>
      <li>From&nbsp;<strong>Espoo</strong></li>
      <li>Works at&nbsp;<a href="https://www.tieto.com/">Tieto</a></li>
      <li>Been in&nbsp;<strong>AngularJS Helsinki</strong> since October 2015 and in&nbsp;<strong>Angular Finland</strong> since beginning</li>
    </ul>
  </div>
  <div class="person py-2">
    <div class="image"><img src="/assets/images/organizers/jussi-kinnula.jpg" alt="Jussi Kinnula"/></div>
    <h3>Jussi Kinnula&nbsp;<a href="https://twitter.com/jussikinnula">@jussikinnula</a></h3>
    <ul>
      <li>From&nbsp;<strong>Helsinki</strong></li>
      <li>Works at&nbsp;<a href="https://wunder.dog/">Wunderdog</a></li>
      <li>Been in&nbsp;<strong>AngularJS Helsinki</strong> since October 2015 and in<strong>Angular Finland&nbsp;</strong> since beginning</li>
      <li>Has been almost in every of our meetups as an organizer, speaker or both :-)</li>
    </ul>
  </div>
  <div class="person py-2">
    <div class="image"><img src="/assets/images/organizers/michael-belov.jpg" alt="Picture of Michael Belov"/></div>
    <h3>Michael Belov&nbsp;<a href="https://www.linkedin.com/in/belovm">@belovm</a></h3>
    <ul>
      <li>From&nbsp;<strong>ngVikings</strong> and<strong> Angular Finland</strong></li>
      <li>Works at&nbsp;<a href="https://www.nordea.fi/">Nordea</a></li>
      <li>Played a major role in the ngVikings conference in Finland in 2018, being part of the local association which ran the event.</li>
      <li>A big supporter of Angular Finland meetups and the ngVikings conference</li>
    </ul>
  </div>
  <hr class="my-2">
  <h2>Alumni</h2>
  
  <div class="person py-2">
    <h3>Toni Ristola</h3>
    <ul>
      <li>Works at&nbsp;<a href="https://www.gofore.com/">Gofore, UK</a></li>
      <li>In the AngularJS meetup group and a founding co-organizer of <strong>Angular Finland</strong>.</li>
    </ul>
  </div>

  <div class="person py-2">
    <h3>Jaakko Salonen</h3>
    <ul>
      <li>Works at&nbsp;<a href="https://www.gofore.com/">Gofore, UK</a></li>
      <li>Founder of&nbsp;<strong>AngularJS Helsinki</strong></li>
    </ul>
  </div>

  <div class="person py-2">
    <h3>Roope Hakulinen</h3>
    <ul>
      <li>Worked at&nbsp;<a href="https://www.gofore.com/">Gofore</a></li>
      <li>Been in&nbsp;<strong>Angular Finland</strong> since the beginning</li>
    </ul>
  </div>

  
  <div class="person py-2">
    <h3>Kimmo Kujala</h3>
    <ul>
      <li>Founder of&nbsp;<strong>AngularJS Helsinki</strong></li>
      <li>Works at&nbsp;<a href="http://www.kone.fi/">Kone</a></li>
    </ul>
  </div>
  <div class="person py-2">
    <h3>Antti Kettunen</h3>
    <ul>
      <li>Founder of&nbsp;<strong>AngularJS Helsinki</strong></li>
      <li>Works at&nbsp;<a href="https://www.tieto.com/">Tieto</a></li>
    </ul>
  </div>
  <div class="person py-2">
    <h3>Esfand Shayan</h3>
    <ul>
      <li>Been in&nbsp;<strong>AngularJS_HEL</strong> since October 2015</li>
      <li>Was very active organizer &amp; occasional speaker on group in 2015 & Spring 2016</li>
    </ul>
  </div>
</main>
