main
    h2 Organizers

    .person
        .image
            img(src="/assets/images/mystery-female.svg", alt="Face of mystery female")

        h3 You as an organizer?

        ul
            li Come to our 
                a(href="http://www.meetup.com/Angular-Finland/") meetups
                |  and be an organizer in future too!
            li We are constantly looking people to be speakers and organizers.
            li It doesn't matter if you haven't done anything like this before, you will learn with us! :-)

    .person
        .image
            img(src="/assets/images/organizers/jussi-kinnula.jpg", alt="Picture of Liisa Jussi Kinnula")

        h3 Jussi Kinnula 
            a(href="https://twitter.com/jussikinnula") @jussikinnula

        ul
            li From 
                strong Helsinki
            li Works at 
                a(href="https://www.frantic.com/") Frantic
            li Been in 
                strong AngularJS Helsinki
                |  since October 2015 and in
                strong Angular Finland
                |  since beginning
            li Has been almost in every of our meetups as an organizer, speaker or both :-)

    .person
        .image
            img(src="/assets/images/organizers/toni-ristola.jpg", alt="Picture of Toni Ristola")

        h3 Toni Ristola 
            a(href="https://twitter.com/toniristola") @toniristola

        ul
            li From 
                strong Espoo
            li Works at 
                a(href="https://gofore.com/") Gofore
            li Been in 
                strong AngularJS Helsinki
                |  since October 2015 and in
                strong Angular Finland
                |  since beginning
            li Has been in many of our meetups &amp; co-organizer since Spring 2016

    .person
        .image
            img(src="/assets/images/organizers/jaakko-salonen.jpg", alt="Picture of Jaakko Salonen")

        h3 Jaakko Salonen 
            a(href="https://twitter.com/jsalonen") @jsalonen

        ul
            li Founder of 
                strong AngularJS Helsinki
            li From 
                strong Tampere
            li Works at 
                a(href="https://gofore.com/") Gofore

    .person
        .image
            img(src="/assets/images/organizers/liisa-duerig-laitinen.jpg", alt="Picture of Liisa Duerig Laitinen")

        h3 Liisa Duerig Laitinen

        ul
            li Super Hyper Drupal Girl
            li From 
                strong Espoo
            li Works at 
                a(href="https://www.tieto.com/") Tieto
            li Been in 
                strong AngularJS Helsinki
                |  since October 2015 and in
                strong Angular Finland
                |  since beginning

    .person
        .image
            img(src="/assets/images/organizers/roope-hakulinen.jpg", alt="Picture of Roope Hakulinen")

        h3 Roope Hakulinen 
            a(href="https://twitter.com/RoopeHakulinen") @RoopeHakulinen

        ul
            li From 
                strong Tampere
            li Works at 
                a(href="https://www.gofore.com/") Gofore
            li Been in 
                strong Angular Finland
                |  since beginning

    hr

    h2 Alumni

    .person
        h3 Kimmo Kujala

        ul
            li Founder of 
                strong AngularJS Helsinki

    .person
        h3 Antti Kettunen

        ul
            li Founder of 
                strong AngularJS Helsinki
            li Works at 
                a(href="https://www.tieto.com/") Tieto

    .person
        h3 Esfand Shayan

        ul
            li Been in 
                strong AngularJS_HEL
                |  since October 2015
            li Was very active organizer &amp; occasional speaker on group in 2015 & Spring 2016


