@import '../shared/styles/variables'
@import '../shared/styles/mixins'

:host
  display block

.person
  margin-bottom 0.5em
  clear both

  li
    margin-bottom 0.5em

h3
  a
    color green
    text-decoration none

hr
  clear both

.image
  +for_breakpoint(mobile)
    width 100%

  +for_breakpoint(tablet)
    width 50%
    float right
    margin-left 1em

  +for_breakpoint(desktop)
    width 33.333333%
    float right
    margin-left 1em

  img
    width 100%
    height auto