<main>
  <h2>Frontpage</h2>
  <h3>About Us</h3>
  <p>This group focuses on&nbsp;<a href="https://angularjs.org/">AngularJS</a> and&nbsp;<a href="https://angular.io/">Angular Framework</a>, including Angular 2 and it's future successors. We believe that Angular is here to stay for a long time. We want to focus our efforts on providing knowledge on lesser known Angular features and share knowledge on more advanced Angular topics.</p>
  <p>This group intends to be a place where you don't need to be a guru to speak. If you've tried something new with Angular, maybe stumbled upon a lesser known module or add-on, we want to hear you share it!</p>
  <h3>Meetup group</h3>
  <p>Come join in our&nbsp;<a href="http://www.meetup.com/Angular-Finland/">meetups</a> to learn and network! Angular enthusiasts of all levels are welcome!</p>
  <h3>Slack</h3>
  <p>You can also join our Slack (currently Slack joining backend is offline):</p>
  <slack-join></slack-join>
  <h3>Upcoming Meetups:</h3>
  <events-list></events-list>
  <h3>Twitter feed:</h3>
  <div class="tweet-button"><a href="https://twitter.com/intent/tweet?text=%23AngularFI%20">
  <div class="bird"></div>
  <div class="label">Tweet</div></a></div>
  <tweets-list></tweets-list>
</main>