<main>
  <div class="container">
    <h2 class="mt-3">We're the Angular community in Finland</h2>
    <div class="row">
      <div class="col-md-7">
        <div class="card-deck mb-3">
          
          <div class="card">
              <img class="card-img-top" src="./../../assets/images/events/angular-finland-meetup-2016-img-003-16x9.jpg" alt="Our meetups are more fun than this image suggests :)">
              <div class="card-body">
                <h5 class="card-title">Meetups</h5>
                <p class="card-text">Afterwork talks on everything Angular</p>
                <a href="https://www.meetup.com/Angular-Finland/" target="_blank" title="Meetup group page on meetup.com">
                <button class="btn btn-primary">
                  meetup.com
                </button>
              </a>
              </div>
          </div>
  
          <div class="card">
            <img class="card-img-top" src="./../../assets/images/current/ng-vikings-in-finland-2018-img001-16x9.jpg" alt="We're far too modest to say that we have the best Angular conferences - here's a picture of one">
            <div class="card-body">
              <h5 class="card-title">Conferences</h5>
              <p class="card-text">Finland and Nordic level Angular conferences</p>
              <button [routerLink]="['/events']" routerLinkActive="router-link-active"  target="_blank" title="All the events we're involved in" class="btn btn-primary">
                Events
              </button>
            </div>
          </div>
        </div>
        <div class="card-deck mb-3">
          <div class="card">
            <img class="card-img-top" src="./../../assets/images/current/angular-mobile-coffee-shutterstock_546700774-mobile-device-16x9-w500.jpg" alt="Being social on social media - person holds a device by a cup of coffee">
            <div class="card-body">
              <h5 class="card-title">Online community</h5>
              <p class="card-text">In Slack, Twitter, Github, Facebook etc</p>
              <button [routerLink]="['contact']" routerLinkActive="router-link-active"  target="_blank" title="e-meet Angular developers in Finland" class="btn btn-primary">
                Connect to people
              </button>
            </div>
          </div>
  
          <div class="card">
            <img class="card-img-top" src="./../../assets/images/current/github-issues-angular-fi-screen02.JPG" alt="List of github issues seeking volunteers">
            <div class="card-body">
              <h5 class="card-title">Opensource</h5>
              <p class="card-text">Develop your Angular skills and benefit the community</p>
               <a href="https://github.com/AngularFI/angular-fi/issues" target="_blank" title="Collaborate with other Angular developers on our community resources">
                <button class="btn btn-primary">
                    Tackle an issue
                  </button>
              </a> 
            </div>
          </div>
        </div>
        <h3>About Angular Finland</h3>
        <p>We're an association formed to bring Angular people together in Finland. We're here to help people enter the industry, to develop their skills and to provide a platform for experts to share their knowledge with the Angular community.</p>
        <p>Our main activities are meetups, larger events in Finland and contributing to the ngVikings conference.</p>
        <p>We welcome new members at any level. You can <a href="https://www.meetup.com/Angular-Finland/" target="_blank" title="Meetup group page on meetup.com">join for free at our meetup.com page</a>.</p>
      </div>    

      <div class="col-md-5">
        <h3>Happening now</h3>
        <!-- CURRENT THING #1 -->
        
          <div class="card">
            <div class="card-body">
              <a href="https://ngvikings.org/" target="_blank">
                <img class="card-img-top" src="./../../assets/images/current/ng-vikings-conference-announcement-2019.jpg" alt="ngVikings conference announcement">
              </a>
              <!-- <h5 class="card-title">ngVikings 2019 tickets selling fast</h5> 
              <p class="card-text"><a href="https://ngvikings.org/" target="_blank">Tickets to the ultimate Nordic Angular conference selling fast</a></p>-->
            </div>
          </div>

          <!-- CURRENT THING #2 -->

          <!-- <div class="card" style="border: none;">
            <a href="https://www.meetup.com/Angular-Finland/events/258290469/" target="_blank">
              <img class="card-img-top" src="./../../assets/images/current/upgrading-angularjs-text-simple-small-angular-finland-meetup.png" alt="Next Angular Finland Meetup: mountain path to Angular upgrade">
            </a>
            <div class="card-body">
              <h5 class="card-title">The Big Ha<strong><span style="color:red;">ng</span></strong>out 2019 speaker invitations</h5>
              <p class="card-text"><a href="https://www.meetup.com/Angular-Finland/events/258290469/" target="_blank">Register for the meetup</a></p>
            </div>
          </div> -->

          <!-- CURRENT THING #3 -->

          <!--<div class="card mb-3">
          <a [routerLink]="['/2019']" routerLinkActive="router-link-active">
            <img class="card-img-top" src="./../../assets/images/current/thebighangout.jpg" alt="Big Hangout Angular Finland event 2019">
          </a>
           <div class="card-body">
            <h5 class="card-title">The Big Ha<strong><span style="color:red;">ng</span></strong>out 2019 speaker invitations</h5>
            <p class="card-text"><a [routerLink]="['/events/conferences/2019/info']" routerLinkActive="router-link-active">Early-bird discounts ending soon</a></p>
            <p class="card-text"><a [routerLink]="['/events/conferences/2019/speakers']" routerLinkActive="router-link-active">Propose a talk - now open</a></p>
          </div>
        </div> -->


      </div>
    </div>
  </div>
</main>