/* Fonts */
font-heading = 'Bitter', serif
font-text = 'Work Sans', sans-serif

/* Colors */
white = #FFFFFF
black = #000000
red-normal = #CC0000
red-medium = #FF7070
red-light = #FFC2C2
red-dark = #290000;
gray = #705C5C
orange = #A37400
green = #85CB00

/* Color mapping */
color-body-background = white
color-menu = white
color-menu-active = red-medium
color-menu-background = red-normal
color-heading = red-dark
color-link = red-dark

/* Layout */
max-width = 900px
