<h3 class="mt-3">Invitation to Angular trainers</h3>
<div class="mb-3">
    <img src="/assets/images/events/conferences/2019/ng-vikings-in-finland-2018-img006-training-widescreen.jpg" class="img-fluid">
</div>
<p>If you are running Angular training, we want to hear from you.</p>
<p>Send your proposals for full-day and half-day training to the <a [routerLink]="['/organizers']" title="Contact Angular Finland">conference organizing team</a>.</p>
<div>
  <ul>
    <li class="list-item">One-day bootcamp</li>
    <li class="list-item">Half-day training</li>
    <li class="list-item">Beginner basics</li>
    <li class="list-item">Expert masterclass</li>
    <li class="list-item">Specialist workshop</li>
    <li class="list-item">Other original workshop concepts</li>
  </ul>

</div>