<!-- PRE-LAUNCH CONTENT
  
  <h3 class="mt-3">Invitation to Angular trainers</h3>
<div class="mb-3">
    <img src="/assets/images/events/conferences/2019/ng-vikings-in-finland-2018-img006-training-widescreen.jpg" class="img-fluid">
</div>
<p>If you are running Angular training, we want to hear from you.</p>
<p>Send your proposals for full-day and half-day training to the <a [routerLink]="['/organizers']" title="Contact Angular Finland">event organizing team</a>.</p>
<div>
  <ul>
    <li class="list-item">One-day bootcamp</li>
    <li class="list-item">Half-day training</li>
    <li class="list-item">Beginner basics</li>
    <li class="list-item">Expert masterclass</li>
    <li class="list-item">Specialist workshop</li>
    <li class="list-item">Other original workshop concepts</li>
  </ul>

</div> -->

<h3>Workshops</h3>
<h5 class="text-muted">Upgrade your Angular skills!</h5>
<div id="accordion">
    
  
  <div class="card mt-3">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0 text-center">
          <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Get started with Angular
          </a>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
              <h6 class="text-muted">Wednesday 13th March, 10.00-17.00</h6>
          <div class="pull-right">
              <span class="badge badge-secondary">Beginner-friendly</span>
          </div>
          <p>Are you looking to get into Angular? Are you starting with no prior knowledge of the Angular Platform? This workshop is a perfect first step! Our aim: by the end of the day you will produce a working Angular application.</p><p>You will be up and running quickly, building Angular code using Stackblitz, an online tool with virtually no setup.</p><p>You will learn to create a real Angular application that responds to user interaction and you'll deploy this application to the web using Firebase.</p>
          <p>Workshop outline</p>

          <ul>
            <li>Introduction To Angular
              </li>
            <li>Working With Components</li>
            <li>Data Binding</li>
            <li>Introduction To The CLI</li>
            <li>Multiple Components</li>
            <li>Working With Events & Properties</li>
            <li>Sharing Data With Services</li>
            <li>Working With Filters</li>
            <li>Publishing Your App With Firebase</li>
            <li>Roundup</li>
          </ul>
          <h5>Trainer</h5>
              <p><strong>Sani Yusuf</strong>, Google Developer Expert</p>
          <h5>Required setup</h5>
          <ul>
            <li>Bring your laptop</li>
              <li>NPM/Node JS installed</li>
              <li>Some knowledge of JavaScript/ES6, HTML and CSS</li>
          </ul>
          <h5>Length</h5>
          <p>Full day</p>
          <h5>Price</h5>
          <p>€300 <span class="text-muted">+ tax 24%</span></p>
        <div class="row">
            <div class="col-3">&nbsp;</div>
            <div class="col-6">
              <a href="https://www.meetup.com/Angular-Finland/events/258264494/" title="Registration is on the Angular Finland Meetup page" class="m-3 text-center">

              <button type="button" style="background-color: #CC0000" class="btn btn-lg btn-block text-center"><span class="text-white">Member registration on meetup.com</span></button>
              </a>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSdVnH_EOsfDVhbhYJzJQYwu7GihR4GWJ2IGqcTh2CCUSZ0qkw/viewform?usp=sf_link" title="Registration form" class="m-3 text-center alternative-registration">
                <button type="button" class="btn btn-lg btn-block text-center alternative-registration"><span class="text-white">More registration options</span></button>
              </a>

            </div>
            <div class="col-3">&nbsp;</div>
        </div>
        <div class="text-center">
          <small>Reserve your place.<br>No credit card required!</small>
        </div>
          
        </div>
      </div>
  </div>


    <div class="card mt-3">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0 text-center">
            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <div style="white-space:normal">From web to mobile with Angular and NativeScript</div>
            </a>
          </h2>
        </div>
    
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <h6 class="text-muted">Thursday 14th March, 10.00-14.00</h6>
              </div>
          <div class="card-body">
            <span class="badge badge-secondary">Expanding your skillset</span>
            <p>We will start with a 30-40 min introduction to NativeScript - how it works and what it does.</p>
            <p>Then, to get used to the NativeScript UI and layouts, we will build a really simple NativeScript app at http://play.nativescript.org (no local setup required).</p>
            <p>For the rest of the workshop, we will take an existing Angular web application and add a mobile app to it. We will use the Angular CLI, the NativeScript schematics collection, and our bare hands to build it!</p>
            <h5>Required setup</h5>
              <ul>
                <li>A laptop with Node.js installed;</li>
                <li>An Android or iOS device.</li>
              </ul>
              <h5>Required experience</h5>
              <p>
                Basic to intermediate Angular knowledge.
              </p>
              <h5>Our target for the day</h5>
              <p>We will convert a simple Angular app with three routes and a single NgModule.</p>
              <h5>Trainer</h5>
              <p><strong>Stanimira Vlaeva</strong>, NativeScript core team member.</p>
              <h5>Length</h5>
              <p>Half day</p>
              <h5>Tickets</h5>
              <p>You need to register for this specific workshop. Participation in this workshop is not included in the main Big Hangout ticket price. Register separately for the workshop and then for the main event if you want to attend both.</p>
              <h5>Price</h5>
              <p>€200 <span class="text-muted">+ tax 24%</span></p>
            <div class="row">
                <div class="col-3">&nbsp;</div>
                <div class="col-6">
                  <a href="https://www.meetup.com/Angular-Finland/events/258264558/" title="Registration is on the Angular Finland Meetup page" class="m-3 text-center">
                  <button type="button" style="background-color: #CC0000" class="btn btn-lg btn-block text-center"><span class="text-white">Member registration on meetup.com</span></button>
                  </a>
                  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdVnH_EOsfDVhbhYJzJQYwu7GihR4GWJ2IGqcTh2CCUSZ0qkw/viewform?usp=sf_link" title="Registration form" class="m-3 text-center alternative-registration">
                    <button type="button" class="btn btn-lg btn-block text-center alternative-registration"><span class="text-white">More registration options</span></button>
                  </a>
                </div>
                <div class="col-3">&nbsp;</div>
            </div>
            <div class="text-center">
              <small>Reserve your place.<br>No credit card required!</small>
            </div>
          </div>
        </div>
      </div>


    <div class="card mt-3">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0 text-center">
          <a class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <div style="white-space:normal">Moving to Angular with ngUpgrade</div>
          </a>
        </h2>
      </div>
  
      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <h6 class="text-muted">Thursday 14th March, 10.00-14.00</h6>
            </div>
        <div class="card-body">
          <div class="pull-right">
              <span class="badge badge-secondary">Solving business problems</span>
          </div>

          <p>If you've got a medium-sized AngularJS application that's too big to rewrite from scratch but too small to need a complex strategy like hybrid routing, you're a great candidate for the ngUpgrade library.</p>
          <p>Getting started can feel really overwhelming, though. Where to begin? What should you most focus your time on? How do you migrate components, services, and other AngularJS bits over to Angular?</p>
          <p>Sam Julien will walk you through all of these concerns in this step-by-step interactive workshop on ngUpgrade. You'll learn how to prepare for and plan your migration, how to set up ngUpgrade so that both Angular and AngularJS can run side-by-side, and how to use ngUpgrade to migrate your components and services. You'll also learn some practical techniques for build tooling and production compilation.</p>
          <p> This workshop will be very interactive with lots of exercises and discussion. We'll also make sure you walk away with plenty of sample code and supplemental materials so you can solidify what you've learned when you get back to work.</p>
          <h5>Trainer</h5>
          <p><strong>Sam Julien</strong>, creator of upgradingangularjs.com, Google Developer Expert</p>
          <small>Full course details coming soon</small>
          
          <h5>Required setup</h5>
          <p>A laptop with Node.js installed</p>
          <h5>Required experience</h5>
          <p>Basic to intermediate AngularJS knowledge and basic Angular knowledge.</p>
          <h5>Our target for the day</h5>
          <p>We're going to learn the basics of the ngUpgrade library, such as how to migrate components and services, by working through a sample migration.</p>
          <h5>Tickets</h5>
          <p>You need to register for this specific workshop. Participation in this workshop is not included in the main Big Hangout ticket price. Register separately for the workshop and then for the main event if you want to attend both.</p>
          <h5>Price</h5>
          <p>€200 <span class="text-muted">+ tax 24%</span></p>
        <div class="row">
            <div class="col-3">&nbsp;</div>
            <div class="col-6">
              <a href="https://www.meetup.com/Angular-Finland/events/258264621/" title="Registration is on the Angular Finland Meetup page" class="m-3 text-center">
              <button type="button" style="background-color: #CC0000" class="btn btn-lg btn-block text-center"><span class="text-white">Member registration on meetup.com</span></button>
              </a>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSdVnH_EOsfDVhbhYJzJQYwu7GihR4GWJ2IGqcTh2CCUSZ0qkw/viewform?usp=sf_link" title="Registration form" class="m-3 text-center alternative-registration">
                <button type="button" class="btn btn-lg btn-block text-center alternative-registration"><span class="text-white">More registration options</span></button>
              </a>
            </div>
            <div class="col-3">&nbsp;</div>
        </div>
        <div class="text-center">
          <small>Reserve your place.<br>No credit card required!</small>
        </div>

        </div>
      </div>
    </div>
    <div class="card mt-3">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0 text-center">
            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              Advanced Angular
            </a>
          </h2>
        </div>
    
        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <h6 class="text-muted">Friday 15th March, 10.00-17.00</h6>
          </div>
          <div class="card-body">
            <span class="badge badge-secondary">Get to the next level</span>
            <p>This immersive instructor-led workshop covers advanced concepts and guides you towards building highly-performant data-centric business applications in Angular</p>

            <ul>
              <li>Advanced Routing
                <ul>
                    <li>Lazy Loading and Preloading</li>
                    <li>Router events</li>
                    <li>Diagnostic with traces</li>
                    <li>Route Transitions (Animations module)</li>
                    <li>Secure access to routes with Guards</li>
                    <li>Route Resolver</li>
                    <li>Auxiliary routes</li>
                    <li>Passing data via state object during navigation (new in 7.2)</li>
                </ul>
              </li>
            </ul>

            <ul>
              <li>Complex Error Handling
                <ul>
                    <li>Global Error Handler</li>
                    <li>Managing different types of errors: Code, Navigation, Http</li>
                    <li>Error Service, offline mode and log to server</li>
                    <li>Http Errors Interceptor with auto retry for failed requests</li>
                    <li>Notification Service: expose an observable of messages and display toast notifications</li>
                </ul>
              </li>
            </ul>
            <ul>
              <li>Optimizing performance<br>
                <small>Exploring different techniques to improve your apps and make them run fast and smooth.</small>
              </li>
              <ul>
                <li>Bundling, Minification, dead code elimination, enableProdMode()</li>
                <li>Performance for Data Binding with OnPush</li>
                <li>Profiling runtime performance</li>
                <li>Ahead of Time (AOT) Compilation, Tree Shaking and bundle analyzer</li>
                <li>Virtual Scrolling</li>
                <li>Improve ngFor with trackBy</li>
                <li>Caching with Service Worker</li>
                <li>Progressive Web App (PWA)</li>
              </ul>
            </ul>



            <h5>Required setup</h5>
              <ul>
                <li>Bring your laptop</li>
              </ul>
              <h5>Required experience</h5>
              <p>
                Intermediate Angular knowledge.
              </p>
              <h5>Trainer</h5>
              <p><strong>Laurent Duveau</strong>, Angular Academy founder.</p>
        
              <h5>Length</h5>
              <p>Full day</p>
              <h5>Price</h5>
              <p>€300 <span class="text-muted">+ tax 24%</span></p>
            <div class="row">
                <div class="col-3">&nbsp;</div>
                <div class="col-6">
                  <a href="https://www.meetup.com/Angular-Finland/events/258264687/" title="Registration is on the Angular Finland Meetup page" class="m-3 text-center">
                  <button type="button" style="background-color: #CC0000" class="btn btn-lg btn-block text-center"><span class="text-white">Member registration in meetup.com</span></button>
                  </a>
                  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdVnH_EOsfDVhbhYJzJQYwu7GihR4GWJ2IGqcTh2CCUSZ0qkw/viewform?usp=sf_link" title="Registration form" class="m-3 text-center alternative-registration">
                    <button type="button" class="btn btn-lg btn-block text-center alternative-registration"><span class="text-white">More registration options</span></button>
                  </a>
                </div>
                <div class="col-3">&nbsp;</div>
            </div>
            <div class="text-center">
              <small>Reserve your place.<br>No credit card required!</small>
            </div>



          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0 text-center">
            <a class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              NgRx - Mastering Advanced State Management
            </a>
          </h2>
        </div>
    
        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <h6 class="text-muted">Friday 15th March, 10.00-17.00</h6>
          </div>
          <div class="card-body">
            <span class="badge badge-secondary">Be the expert</span>
            <p>Do you already have good knowledge of Angular and Typescript? Some hands-on experience with NgRx? And are you already familiar with the basics of ngrx/store?</p>

            <p>As your application grows, at some point you will face several new challenges where you will not find a lot of information about best practices or ready solutions.</p>
            <p>In such situations we often tend to end up in poor implementations or hacky workarounds.</p>
            <p>
              Be different! Develop a critical understanding for state management. Learn several strategies to tackle advanced scenarios and benefit from knowing when to use the different approaches.</p>
            <p>In a full-day in-depth course on NgRx you will learn advanced approaches such as facades, optimistic updates, memoized selector composition, and many other tricks.</p>
            <p>At the end you will know everything you need to know about:</p>
              <ul>
                <li>Working with feature stores</li>
                <li>Using @ngrx/entities</li>
                <li>Handling state in lazy loaded application parts</li>
                <li>Implementing the facade pattern</li>
                <li>Using effects to run optimistic updates</li>
                <li>Selector composition and memoized selectors</li>
                <li>Implementing immutability through meta reducers</li>
              </ul>

            <h5>Required setup</h5>
              <ul>
                <li>Bring your laptop</li>
              </ul>
              <h5>Required experience</h5>
              <p>
                Basic knowledge of @ngrx such as Store, Actions, Reducers, Data-Structures
              </p>
              <h5>Trainer</h5>
              <p><strong>Michael Hladky</strong>, Google Developer Expert for Angular, founder of Angular College.</p>
        
              <h5>Length</h5>
              <p>Full day</p>
              <h5>Price</h5>
              <p>€300 <span class="text-muted">+ tax 24%</span></p>
            <div class="row">
                <div class="col-3">&nbsp;</div>
                <div class="col-6">
                  <a href="https://www.meetup.com/Angular-Finland/events/258554420/" title="Reserve a place on the Angular Finland Meetup page" class="m-3 text-center">
                  <button type="button" style="background-color: #CC0000" class="btn btn-lg btn-block text-center"><span class="text-white">Member registration in meetup.com</span></button>
                  </a>
                  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdVnH_EOsfDVhbhYJzJQYwu7GihR4GWJ2IGqcTh2CCUSZ0qkw/viewform?usp=sf_link" title="Registration form" class="m-3 text-center alternative-registration">
                    <button type="button" class="btn btn-lg btn-block text-center alternative-registration"><span class="text-white">More registration options</span></button>
                  </a>
                </div>
                <div class="col-3">&nbsp;</div>
            </div>
            <div class="text-center">
              <small>Reserve your place.<br>No credit card required!</small>
            </div>



          </div>
        </div>
      </div>



  </div>
