@import '../../styles/variables'
@import '../../styles/mixins'

:host
  display block
  max-width max-width
  margin 0 auto
  padding 1em

.footer
  font-size 0.75em
  color gray

  a
    color gray

  +for_breakpoint(not_mobile)
    text-align center