.footer
    | &copy; Copyright 
    strong Angular Finland
    |  &middot; 
    a(href="https://github.com/AngularFI/angular.fi", target="_blank") Source Code
    |  is licensed under 
    a(href="https://opensource.org/licenses/MIT", target="_blank") MIT license