main
    h2 Frontpage

    h3 About Us

    p This group focuses on 
        a(href="https://angularjs.org/") AngularJS
        |  and 
        a(href="https://angular.io/") Angular Framework
        | , including Angular 2 and it's future successors. We believe that Angular is here to stay for a long time. We want to focus our efforts on providing knowledge on lesser known Angular features and share knowledge on more advanced Angular topics. 

    p This group intends to be a place where you don't need to be a guru to speak. If you've tried something new with Angular, maybe stumbled upon a lesser known module or add-on, we want to hear you share it! 

    p Come join in our 
        a(href="http://www.meetup.com/Angular-Finland/") meetups
        |  to learn and network! Angular enthusiasts of all levels are welcome!

    h3 Upcoming Meetups:

    events-list

    h3 Twitter feed:

    .tweet-button
        a(href="https://twitter.com/intent/tweet?text=%23AngularFI%20")
            .bird
            .label Tweet

    tweets-list