<main>
  <div class="container">
    <h2 class="mt-3">Take your place in the Angular community</h2>
    <div class="row">
      <div class="col-md-12">
      <p>You have many options for getting involved or you can help us find new ways to connect and collaborate</p>

      <div class="card mb-4" >
        <div class="card-header">
          Join
        </div>
        <div class="card-body">
          <h5 class="card-title">What? Not a member yet? Join immediately.</h5>
          <p class="card-text">Membership is free. You just need to stay positive and you'll always be welcome, whatever your Angular skill level.</p>
          <a href="https://www.meetup.com/Angular-Finland/" target="_blank" title="Meetup group page on meetup.com" class="btn btn-primary">Join</a>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          Come to a meetup
        </div>
        <div class="card-body">
          <h5 class="card-title">Learn something cool, eat pizza and make a friend</h5>
          <p class="card-text">Yes, it's OK to nerd out about the Angular apps you and your peers are working on. Be part of the discussion or just come to listen.</p>
          <a href="https://www.meetup.com/Angular-Finland/" target="_blank" title="Meetup group page on meetup.com" class="btn btn-primary">Register for the next one</a>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          Give a talk
        </div>
        <div class="card-body">
          <h5 class="card-title">Share something Angular with Finland's most supportive audience</h5>
          <p class="card-text">Celebrate a successful project, share something you've discovered, tell us what you're working on or thinking about. And if you dare to do some live-coding, this is the stage for you!</p>
          <p class="card-text">You are welcome to present any topic with an Angular angle. Shorter and longer presentations possible. If you want help preparing, the team is here for you.</p>
          <a [routerLink]="['/contact']" title="Propose a talk" class="btn btn-primary">Propose a talk</a>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          Host an event
        </div>
        <div class="card-body">
          <h5 class="card-title">Our Angular meetups are hosted by Finland's finest companies</h5>
          <p class="card-text">Take this opportunity to show that you're serious about supporting the developer community. Hosting an event is easy, inexpensive and rewarding for you and your guests.</p>
          <p class="card-text">You just need a meeting space for 20-40 people, some refreshments and to help people find their way to the right spot in your building. Usually in the Helsinki area, other large cities are also possible.</p>
          <a [routerLink]="['/contact']" title="Host a meetup" class="btn btn-primary">Offer your space</a>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          Sponsor
        </div>
        <div class="card-body">
          <h5 class="card-title">Take your visibility to a new level and feel the love of the Angular crowd</h5>
          <p class="card-text">Angular Finland and ngVikings offer sponsorship opportunities. We're not-for-profit volunteer organisation, so 100% of your financial generosity goes directly into Angular events or other benefits such as scholarships.</p>
          <p class="card-text">Visibility options include hosting or branding at meetups, larger event sponsorship with an expo stand, appearing in this website as a prominent partner, being included in social media content and newsletters.</p>
          <p class="card-text">For a small financial investment you'll connect with talented Angular developers as an insider at our events. You'll also link your brand in a strongly positive way with a grassroots developer community. Check <a href="http://bit.ly/sponsor-ngvikings-2019" target="_blank">ngVikings sponsorship</a> to be part of the world's best-loved Angular conf. Or keep it local and support the Angular community here in Finland.</p>
          <a [routerLink]="['/events/conferences/2019/sponsors']" title="Be an event sponsor" class="btn btn-primary">Be an event sponsor</a>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          Code
        </div>
        <div class="card-body">
          <h5 class="card-title">Use your Angular super-powers to make something for the community</h5>
          <p class="card-text">The Angular Finland website needs love and web dev talent to grow into a rich resource for Angular developers in Finland.</p>
          <p class="card-text">If you have expertise and a little time to spare, tackle an issue on our Github or come up with new content or a new feature. Get experience as an opensource contributor and build your skills. Create issues, make pull requests, comment and collaborate. Make a difference without even going outside!</p>
          <a href="https://github.com/AngularFI/angular-fi/issues" target="_blank" title="Angular Finland on Github" class="btn btn-primary">Contribute to our opensource</a>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          Volunteer
        </div>
        <div class="card-body">
          <h5 class="card-title">Are you a great organiser? Are you a creative? Are you the friendly type? Are you all of these?</h5>
          <p class="card-text">If you are great with people, great with a camera, great with a sketchpad or have other event management skills there is a role for you at our <mark>Big Ha<strong><span style="color:red;">ng</span></strong>out</mark>. Volunteer Angular enthusiasts will welcome participants at events, to help guest speakers navigate and create a brilliant mini-conf experience.</p>
          <p class="card-text">If you've got organisational and event management skills, photography skills, videography skills, design skills we need you to be part of the team for our <mark>Big Ha<strong><span style="color:red;">ng</span></strong>out</mark>.</p>
          <a [routerLink]="['/events/conferences/2019/info']" title="Volunteer at the Big Hangout" class="btn btn-primary">Join the event team</a>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          Organize
        </div>
        <div class="card-body">
          <h5 class="card-title">Are you ready to make your love affair with Angular a public, long-term thing?</h5>
          <p class="card-text">Join the team of organizers making things happen for Angular Finland members.</p>
          <p class="card-text">Whether you can offer a thick or tiny thin slice of your week, you just need to be ready to take responsibility for an area of Angular Finland activity that you feel passionate about, or where your skills can have the most impact.</p>
          <p class="card-text">As an organizer, you have freedom to make an existing activity better, or to take Angular Finland into new areas.</p>
          <a [routerLink]="['/contact']" title="Volunteer as an organizer" class="btn btn-primary">Be part of the team</a>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          Mentor
        </div>
        <div class="card-body">
          <h5 class="card-title">Will you help a newer Angular developer onto the ladder to success?</h5>
          <p class="card-text">Mentoring is a rewarding experience for all sides. Bring your skills as a coach and as an experienced developer to help others ride the Angular wave.</p>
          <a [routerLink]="['/contact']" title="Volunteer to mentor" class="btn btn-primary">Start mentoring</a>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          Communicate
        </div>
        <div class="card-body">
          <h5 class="card-title">Do you like to break the silence? Do you believe in documenting your best work?</h5>
          <p class="card-text">There's so much going on in the Angular Finland community that we never get to hear about. You can be the person who writes the tweets, creates the blog posts, does interviews and shares news about the amazing work of Angular developers in Finland.</p>
          <a href="https://angularfi.slack.com" title="Join the team as communicator" class="btn btn-primary">Make your voice heard</a>
        </div>
      </div>

      </div>
    </div>
  </div>
</main>