<div class="row">
    <div class="col-md-7">
      <h3>Time, place, tickets, travel, accommodation, special needs and more</h3>
      <div class="container">
        <img src="/assets/images/events/conferences/2019/ng-vikings-in-finland-2018-img004-info-widescreen.jpg" alt="Registration at the ngVikings 2018 conference in Finland" class="img-fluid">
        <div class="mt-3">
            <dt>
              How do I get a ticket?
            </dt>
            <dd>
              Register in out <a href="https://www.meetup.com/Angular-Finland" title="Registration is on the Angular Finland Meetup page">meetup group</a> page. You'll need to join the meetup network, if you're not already a member.
            </dd>
            <dt>
              How much do tickets cost?
            </dt>
            <dd>
              Most tickets are free, thanks the generosity of the conference sponsors. You should be working with Angular or considering developing your Angular skills and knowledge. <a href="https://www.meetup.com/Angular-Finland" title="Registration is on the Angular Finland Meetup page">Apply for a free ticket</a> before they are gone. You can also apply for a ticket as if you are working in other roles in the software and digital transformation industry.
            </dd>
            <dt>
              When will the program and speakers be published?
            </dt>
            <dd>
              Early 2019.
            </dd>
            <dt>
              How can I get involved?
            </dt>
            <dd>
              Contact any <a [routerLink]="['/organizers']">Angular Finland organizer</a> to find out about volunteering. Do you have any of these skills: video production, photography, event management, project management, customer service mentality, great personal organisation, social media? We'd love to hear from you.
          </dd>
          <dt>
              What are the benefits of sponsorship?
            </dt>
            <dd>
              Visibility in and around the event; guaranteed tickets for your team; space for a stand; opportunities to get introduced to the full audience.
          </dd>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="container">
          <div class="card mb-3" style="width: 18rem;">
            <div class="card-header">
              Time and date
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Conference Day: 7th Feb 2019</li>
              <li class="list-group-item">Conference Start: arrival 14:30</li>
              <li class="list-group-item">Workshop Days: 6-7th Feb 2019</li>
            </ul>
          </div>
          <div class="card mb-3" style="width: 18rem;">
            <div class="card-header">
              Location
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Host: Tieto</li>
              <li class="list-group-item">Address: Keilalahdentie 2-4, 02150 Espoo</li>
              <li class="list-group-item">Map: <a href="https://goo.gl/maps/M5RR7xzKFC52" target="_blank" title="Google  Maps for the conference venue ">goo.gl/maps/M5RR7xzKFC52</a></li>
            </ul>
          </div>
          <div class="card mb-3" style="width: 18rem;">
            <div class="card-header">
              Contacts
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Conference Organizer: Richard Farkas</li>
              <li class="list-group-item">Angular Finland organizer: Jussi Kinnula</li>
              <li class="list-group-item">Tweet us <a href="https://twitter.com/AngularFI" target="_blank">@AngularFI</a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>