<div class="row">
    <div class="col-md-7">
      <h3>Time, place, tickets, travel, accommodation, special needs and more</h3>
      <div class="container">
        <img src="/assets/images/events/conferences/2019/ng-vikings-in-finland-2018-img004-info-widescreen.jpg" alt="Registration at the ngVikings 2018 conference in Finland" class="img-fluid">
        <div class="mt-3">
            <dt>
              How do I get a ticket?
            </dt>
            <dd>
              Register via the buttons below. Use your discount code if you are a member of Angular Finland. Join our <a href="https://www.meetup.com/Angular-Finland" title="Become a member of Angular Finland">meetup group</a> page. Membership is free.
              <!-- Register in our <a href="https://www.meetup.com/Angular-Finland" title="Registration is on the Angular Finland Meetup page">meetup group</a> page. You'll need to join the meetup network, if you're not already a member. Membership is free. -->
            </dd>
            <p><!-- <a href="https://www.meetup.com/Angular-Finland/events/257192850" title="Registration is on the Angular Finland Meetup page" class="m-3">
              <button type="button" style="background-color: #CC0000" class="btn btn-lg btn-block"><span class="text-white">Register</span></button>
            </a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdVnH_EOsfDVhbhYJzJQYwu7GihR4GWJ2IGqcTh2CCUSZ0qkw/viewform?usp=sf_link" title="Registration form" class="m-3 text-center alternative-registration">
              <button type="button" class="btn btn-lg btn-block text-center alternative-registration"><span class="text-white">More registration options</span></button>
            </a>
            <p>Not able to access meetup.com? <a href="https://docs.google.com/forms/d/e/1FAIpQLSdVnH_EOsfDVhbhYJzJQYwu7GihR4GWJ2IGqcTh2CCUSZ0qkw/viewform?usp=sf_link" target="_blank">Try another registration method.</a></p>
          
          -->
            <!-- <registration-buttons></registration-buttons> -->
            <registration-button
              [ticketUrl]="'https://www.eventbrite.com/e/the-big-hangout-2019-tickets-56358770600'" [buttonText]="'Buy ticket'"
            ></registration-button>
          </p>

            <dt>
              How much do tickets cost?
            </dt>
            <dd>
              If you have a training/conference budget, your ticket price is €95.
            </dd>
            <dt>
              Is there an early-bird rate?
          </dt>
          <dd>
            There was, but it is gone. But you can still use your Angular Finland member discount. Check your meetup.com mail or contact the organising team.
          </dd>
            <dt>
                Can I get a discount?
            </dt>
            <dd>
              Please do <a href="mailto:contact@angular.fi?subject=Big Hangout | Applying for a free ticket&body=Reason why I need a discounted ticket... evidence of my status..." title="Contact the conference organising team">apply for a discounted ticket</a> if you have no budget available for training or career development. A discount may be available if you are
              
              <ul>
                <li>a student</li>
                <li>considering or starting a web-dev career, not yet employed</li>
                <li>volunteering to be part of the conference team</li>
                <li>a contributor to an <a href="https://github.com/AngularFI">Angular Finland project on Github</a></li>
              </ul>
              
              If you are from an under-represented group and need financial assistance to participate in this event, contact the organizing team listed on this page.
            </dd>
<!--             <dt>
              When will the program and speakers be published?
            </dt>
            <dd>
              January 2019.
            </dd>
 -->            <dt>
              How do I register for a workshop?
            </dt>
            <dd>
              Buy a ticket to one of the workshops listed in the <a href="https://www.meetup.com/Angular-Finland" title="Registration is on the Angular Finland Meetup page">meetup group</a>. Workshops are not included in the main ticket €95 price.
            </dd>
            <dt>
              How can I get involved?
            </dt>
            <dd>
              Contact any <a [routerLink]="['/organizers']">Angular Finland organizer</a> to find out about volunteering. Do you have any of these skills: video production, photography, event management, project management, customer service mentality, great personal organisation, social media? We'd love to hear from you.
          </dd>
          <dt>
              What are the benefits of sponsorship?
            </dt>
            <dd>
              Visibility in and around the event; guaranteed tickets for your team; space for a stand; opportunities to get introduced to the full audience.
          </dd>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="container">
          <div class="card mb-3" style="width: 18rem;">
            <div class="card-header">
              Time and date
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Big Ha<span style="color:red;">ng</span>out Day: 14th March 2019</li>
              <li class="list-group-item">Event Start: arrival 14:30</li>
              <li class="list-group-item">Workshop Day: 15th March 2019</li>
            </ul>
          </div>
          <div class="card mb-3" style="width: 18rem;">
            <div class="card-header">
              Location
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Host: Tieto</li>
              <li class="list-group-item">Address: Keilalahdentie 2-4, 02150 Espoo</li>
              <li class="list-group-item">Map: <a href="https://goo.gl/maps/M5RR7xzKFC52" target="_blank" title="Google  Maps for the Big Hangout venue ">goo.gl/maps/M5RR7xzKFC52</a></li>
            </ul>
          </div>
          <div class="card mb-3" style="width: 18rem;">
            <div class="card-header">
              Contacts
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Event Organizing team: Richard Farkas <a href="mailto:richard@angular.fi">richard@angular.fi</a>, Liisa Duerig <a href="mailto:liisa@angular.fi">liisa@angular.fi</a></li>
              <li class="list-group-item">Tweet us <a href="https://twitter.com/AngularFI" target="_blank">@AngularFI</a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>